<button>>
	{{name}}
	{{#unless devoured}}
	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		Devour
	</button>
	{{/unless}}
	{{!-- Add a button if you want to restock a burger that has been devoured --}}
	{{#if devoured}}
	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}"></button>
	Re-Stock
</button>
{{/if}}
</li>